/* universal */
body {
  background-color: white;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

.quote {
  font-size: 0.75rem;
  padding: 32px 0px;
}

.button {
  background-color: darkgrey;
  padding: 8px;
  text-align: center;
}

.strong {
  font-weight: bold;
}

.left {
  width: 60%;
}

.left img {
  padding: 32px 24px;
}

.left video {
  padding: 0px 24px;
  padding-bottom: 24px;
}

.left img,
video {
  display: block;
  width: calc(100% - 48px);
}

.right {
  width: 40%;
  display: flex;
  align-items: center;
}

.right .content {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
}



/* header */
header {
  width: 100%;
  align-items: center;
  display: flex;
}

header .content {
  height: 64px;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 0px 24px;
  align-items: center;
}

header .content a {
  display: flex;
  align-items: center;
}

header .logo {
  flex: 1;
}

header nav {
}

header nav ul {
  display: flex;
}

header nav li {
  padding-left: 16px;
}

header img {
  height: 32px;
}

nav a {
  vertical-align: bottom;
}

/* banner */
.banner {
  display: flex;
  background-color: lightgrey;
}

.banner h3 {
  padding: 24px 0px;
}

/* testimonial */
.testimonial {
  background-color: white;
  display: flex;
}

.testimonial .left .text {
  padding: 0px 24px;
}

.testimonial h1 {
  padding-bottom: 24px;
}

.testimonial .right {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  border-left: 1px solid;
  border-left-color: lightgrey;
}

.testimonial .item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  border-bottom-color: lightgrey;
}

.item img {
  align-self: center;
  padding: 16px;
  height: auto;
  width: calc(35% - 11.2px);
}

.item .caption {
  align-self: center;
}

.three {
  background-color: lightgrey;
}

/* catalog */
.catalog {
  padding-bottom: 32px;
  background-color: lightgrey;
}

.cards-holder {
  display: flex;
  padding: 0px 72px;
  flex-direction: column;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.onetwo {
  margin-right: 32px;
}

.card {
  background-color: white;
  width: calc(33% - 69.33px);
}

.catalog img {
  width: 100%;
}

.catalog h1 {
  padding: 32px 0px;
  text-align: center;
}

.catalog .course {
  padding: 16px;
}

.catalog .courses {
  padding: 8px 0px;
}


/* thesis */
.thesis {
  background-color: white;
}

.left-right {
  display: flex;
}

.thesis .left .text {
  padding: 0px 24px;
}

.thesis h1 {
  padding: 32px 0px;
  text-align: center;
}

.thesis p {
  padding-top: 8px;
}

.thesis .right {
  display: flex;
  flex-direction: column;
}

.thesis .item {
  display: flex;
  flex-direction: row;
}

.thesis .item img {
  align-self: center;
  padding: 16px;
  height: auto;
  width: calc(35% - 11.2px);
}

.item .caption {
  align-self: center;
}

.three {
  background-color: lightgrey;
}

/* footer */
footer {
  margin-top: 32px;
  background-color: white;
  padding: 16px 24px;
  border-top: 1px solid;
  border-left-color: lightgrey;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
