/* universal */
body {
  background-color: white;
  color: #2e3d49;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

.quote {
  font-size: 0.75rem;
  padding: 32px 0;
}

.button {
  background-color: hsl(0, 0%, 92%);
  border-radius: 8px;
  color: hsl(222, 100%, 73%);
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 1.4px;
  padding: 15px;
  text-align: center;
}

.button:hover {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  color: hsl(196, 100%, 58%);
  margin-top: -1px;
  transition: 200ms ease-in 0s;
}

a {
  align-self: center;
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.left {
  width: 60%;
}

.left img {
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.20);
  margin: 32px 24px;
}

.left video {
  padding: 0 24px;
  padding-bottom: 24px;
}

.left img,
video {
  display: block;
  width: calc(100% - 48px);
}

.right {
  align-items: center;
  display: flex;
  width: 40%;
}

.right .content {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

/* header */
header {
  align-items: center;
  display: flex;
  width: 100%;
}

header .content {
  align-items: center;
  background-color: white;
  display: flex;
  height: 64px;
  padding: 0 24px;
  width: 100%;
}

.logo .purple {
  display: none;
}

.logo:hover .purple {
  display: inline;
}

.logo:hover .blue {
  display: none;
}

header .content a {
  align-items: center;
  color: hsl(196, 100%, 58%);
  display: flex;
  text-decoration: none;
}

header .content a:hover {
  color: hsl(275, 74%, 56%);
}

header .logo {
  flex: 1;
}

header nav ul {
  display: flex;
}

header nav li {
  padding-left: 16px;
}

header img {
  height: 32px;
}

nav a {
  vertical-align: bottom;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  header .desktop .logo {
    display: none;
  }

  header {
    background-color: white;
    height: 64px;
  }

  header .mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}

/* banner */
.banner {
  display: flex;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5ffe2+0,2ac5ee+25,77a0ff+50,9e3ee2+75,e968b4+99 */
  background: rgb(165,255,226);
 /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(165,255,226,1) 0%, rgba(42,197,238,1) 25%, rgba(119,160,255,1) 50%, rgba(158,62,226,1) 75%, rgba(233,104,180,1) 99%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(165,255,226,1) 0%,rgba(42,197,238,1) 25%,rgba(119,160,255,1) 50%,rgba(158,62,226,1) 75%,rgba(233,104,180,1) 99%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(165,255,226,1) 0%,rgba(42,197,238,1) 25%,rgba(119,160,255,1) 50%,rgba(158,62,226,1) 75%,rgba(233,104,180,1) 99%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5ffe2', endColorstr='#e968b4',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */;
}

.banner h1,
h3 {
  color: white;
  font-weight: lighter;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.banner a {
  width: 40%;
}

.banner h3 {
  padding: 24px 0;
}

@media only screen and (max-width: 480px) {
  .left {
    width: 100%;
  }

  .banner {
    display: block;
  }

  .banner img {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .banner .right {
    padding: 16px;
    width: calc(100% - 32px);
  }

  .right .content {
    padding: 0 0;
  }

  .right h1 {
    padding: 16px 0;
  }

  .right h3 {
    padding-bottom: 24px;
    padding-top: 8px;
  }

  .button {
    align-self: center;
    color: hsl(222, 100%, 73%);
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 24px;
    text-decoration: none;
    width: 80%;
  }

  .button:hover {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    color: hsl(196, 100%, 58%);
    margin-bottom: 16px;
    margin-top: 24px;
    transition: 200ms ease-in 0s;
  }
}


/* testimonial */
.testimonial {
  background-color: white;
  display: flex;
}

.testimonial .left .text {
  padding: 0 24px;
}

.testimonial h1 {
  padding-bottom: 24px;
}

.testimonial h3 {
  color: #2e3d49;
  text-shadow: none;
}

.testimonial a {
  color: hsl(196, 100%, 58%);
  text-decoration: none;
}

.testimonial a:hover {
  color: hsl(275, 74%, 56%);
}

@media only screen and (max-width: 480px) {
  .testimonial .desktop {
    display: none;
  }
}

.testimonial .right {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.testimonial .item {
  display: flex;
  flex-direction: row;
}

.item img {
  align-self: center;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.20);
  height: auto;
  margin: 16px;
  width: calc(35% - 11.2px);
}

.item .caption {
  align-self: center;
}

.testimonial .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .testimonial .desktop {
    display: none;
  }

  .testimonial .mobile {
    display: block;
    padding-bottom: 14px;
    padding: 0;
  }

  .caption {
    margin-bottom: 18px;
    padding: 0 32px;
  }

  .item img {
    display: block;
    width: calc(100% - 32px);
  }

  .item .caption {
    align-self: center;
    display: block;
  }

  .testimonial .item {
    border-bottom: 0;
  }

  .right h3 {
    padding: 0;
  }

  .right p {
    padding: 8px 0;
  }

  .testimonial .right {
    width: 100%;
  }
}

/* catalog */
.catalog {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5ffe2+0,2ac5ee+25,77a0ff+50,9e3ee2+75,e968b4+99 */
  background: rgb(165,255,226);
 /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(165,255,226,1) 0%, rgba(42,197,238,1) 25%, rgba(119,160,255,1) 50%, rgba(158,62,226,1) 75%, rgba(233,104,180,1) 99%);
 /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(165,255,226,1) 0%,rgba(42,197,238,1) 25%,rgba(119,160,255,1) 50%,rgba(158,62,226,1) 75%,rgba(233,104,180,1) 99%);
 /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(165,255,226,1) 0%,rgba(42,197,238,1) 25%,rgba(119,160,255,1) 50%,rgba(158,62,226,1) 75%,rgba(233,104,180,1) 99%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5ffe2', endColorstr='#e968b4',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
  padding-bottom: 32px;
}

.cards-holder {
  display: flex;
  flex-direction: column;
  padding: 0 72px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.onetwo {
  margin-right: 32px;
}

.card {
  background-color: hsl(0, 0%, 92%);
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  width: calc(33% - 69.33px);
}

.card:hover {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  margin-top: -1px;
  transition: 200ms ease-in 0s;
}

.card h3 {
  color: #2e3d49;
  text-shadow: none;
}

.card a {
  color: #2e3d49;
}

.card a:hover {
  color: hsl(196, 100%, 58%);
  transition: 200ms ease-in 0s;
}

.catalog img {
  opacity: 0.85;
  width: 100%;
}

.catalog .software {
  background-color: rgb(233, 104, 180);
}

.catalog .computer {
  background-color: rgb(158, 62, 226);
}

.catalog .design {
  background-color: rgb(134, 220, 243);
}

.catalog .data {
  background-color: rgb(87, 175, 248);
}

.catalog .business {
  background-color: rgb(69, 209, 235);
}

.catalog .marketing {
  background-color: rgb(165, 255, 226);
}

.catalog h1 {
  color: white;
  font-weight: lighter;
  padding: 32px 0;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

@media only screen and (max-width: 480px) {
  .catalog {
    background-color: white;
  }

  .catalog h1 {
    padding-bottom: 8px;
    padding-top: 32px;
  }
}

.catalog .course {
  padding: 16px;
}

.catalog .courses {
  padding: 8px 0;
}

.catalog .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .catalog .desktop {
    display: none;
  }

  .catalog {
    border-top-color: lightgrey;
    border-top: 1px solid;
  }

  .catalog .mobile {
    display: block;
  }

  .cards-holder .mobile {
    display: flex;
    flex-direction: column;
  }

  .element {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    margin-top: 8px;
    padding: 16px;
  }

  .catalog .software,
  .catalog .computer,
  .catalog .design,
  .catalog .data,
  .catalog .business,
  .catalog .marketing {
    background-color: white;
  }

  .catalog .software h3,
  .catalog .computer h3,
  .catalog .design h3,
  .catalog .data h3,
  .catalog .business h3,
  .catalog .marketing h3 {
    text-shadow: none;
  }

  .catalog .software h3 {
    color: hsl(161, 100%, 42.5%);
  }

  .catalog .computer h3 {
    color: hsl(190, 80.3%, 59.3%);
  }

  .catalog .design h3 {
    color: hsl(207, 91.3%, 65.5%);
  }

  .catalog .data h3 {
    color: hsl(246, 82.6%, 71.3%);
  }

  .catalog .business h3 {
    color: hsl(283, 65.5%, 56.5%);
  }

  .catalog .marketing h3 {
    color: hsl(324.7, 74.6%, 66.1%);
  }
}

/* thesis */
.thesis {
  background-color: white;
}

.left-right {
  display: flex;
}

.thesis .left .text {
  padding: 0 24px;
}

.thesis h1 {
  padding: 32px 0;
  text-align: center;
}

.thesis p {
  padding-top: 8px;
}

.thesis .right {
  display: flex;
  flex-direction: column;
}

.thesis .item {
  display: flex;
  flex-direction: row;
}

.thesis h3 {
  color: #2e3d49;
  text-shadow: none;
}

.thesis .item img {
  align-self: center;
  height: auto;
  margin: 16px;
  width: calc(35% - 11.2px);
}

.item .caption {
  align-self: center;
}

.thesis .mobile {
  display: none;
}

.thesis a {
  color: hsl(196, 100%, 58%);
  font-weight: normal;
  text-decoration: none;
}

.thesis a:hover {
  color: hsl(275, 74%, 56%);
}

@media only screen and (max-width: 480px) {
  .thesis .desktop {
    display: none;
  }

  .thesis .mobile {
    border-top-color: lightgrey;
    border-top: 1px solid;
  }

  .thesis .mobile {
    display: block;
  }

  .thesis h1 {
    padding-bottom: 16px;
  }

  .thesis video {
    padding-bottom: 24px;
    width: 100%;
  }
}

/* footer */
footer {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin-top: 32px;
  padding: 16px 24px;
}

footer a {
  color: #9e3ee2;
}

footer a:hover {
  color: #2ac5ff;
}

@media only screen and (max-width: 480px) {
  footer .desktop {
    display: none;
  }

  footer {
    border-top: 0;
    margin-top: 0;
    padding: 16px 24px;
  }
}
